<header class="header-6">
    <div class="branding">
            <a href={{originUrl}} class="nav-link">
            <cds-icon shape="atom"></cds-icon>
            <span class="title">Automata</span>
        </a>
    </div>
    <div *ngIf="!devMode" class="header-actions">
        <div class="nav-link" style="opacity: 1;"> <!-- override the opacity value for github button visibility-->
            <a class="github-button" href="https://github.com/nihalmurmu/ng-automata"
                data-color-scheme="no-preference: dark_dimmed; light: dark_dimmed; dark: dark_dimmed;" data-size="large"
                data-show-count="true" aria-label="Star nihalmurmu/ng-automata on GitHub">Star</a>
        </div>
    </div>
</header>