<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md- clr-col-12">
    <div class="card">
      <div tabindex="0" class="card-header">
        <div #network>
        </div>
      </div>
    </div>
  </div>
</div>
<button *ngIf="devMode" (click)="getAllNodeDetails()">all node details</button>
<clr-modal [(clrModalOpen)]="viewNodeLabelModal">
  <h3 class="modal-title">Add state label</h3>
  <div class="modal-body">
    <form class="clrForm clr-form-vertical" [formGroup]="nodeLabelForm">
      <clr-input-container>
        <label>State name</label>
        <input placeholder="Enter your state name" clrInput name="nodeLabel" formControlName="nodeLabelInput" required />
        <clr-control-error>You must name for your new state</clr-control-error>
      </clr-input-container>
    </form>
    <br/>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="handleNodeLabelClose(false)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="handleNodeLabelClose(true)">Ok</button>
  </div>
</clr-modal>